body {
  font-family: "Neutra Text", sans-serif;
}
.table-header {
  background-color: #c0e3e5;
  color: #322625;
}

.table-row-grey {
  background-color: #ebebeb;
}

.table-row-grey td {
  color: #322625;
}

.table-row td {
  color: #322625;
}
nav {
  display: flex;
  align-items: center;
  gap: 4px;
}

nav a {
  text-decoration: none;
  color: #322625;
  padding: 4px 8px;
  transition: background-color 0.2s;
}

nav span {
  color: #fdc936;
}

.nav-active {
  background-color: #fdc936;
  color: #322625;
}
